# Archivos ejecutables
*.exe
*.out
*.o
*.a
*.bat
#imagenes
tratada.bmp
# Archivos de respaldo o temporales
*~
*.swp

# Archivos generados por el compilador
*.d

# Carpetas 
.vscode/
Pseudocode/
Entregar/
old/
imagenes/

#outputs
*_out.txt