# Archivos ejecutables
*.exe
*.out
*.a
*.bat
#imagenes

*.bmp
# Archivos de respaldo o temporales
*~
*.swp

# Archivos generados por el compilador
*.d

# Carpetas 
Entregar/
old/
imagenes/
#outputs
*_out.txt